.header {
    height: 50px;
    width: 100%;
    background: #006cff;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px 0 0 0;
}

.navbar-brand p {
    color: #2f2f2f;
}

.layout1 {
    border: 1px solid #eee;
    background: #f8f8f8;
    height: 400px;
    padding: 20px;
    border-radius: 2px;
}

.input {
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
}

.title {
    font-size: 24px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
